<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Cast</title>
    </head>
    <style>
        img {
            height: 300px;
            object-fit: cover;
        }
        button {
            display: inline-block;
            width:auto;
            text-align: center;
            color: white;
            background-color: black;
            height:50px;
            border: none;
        }
        button:hover {
            background-color: lightgray;
        }
    </style>
    <body>
        <div style="top:0; right:0; width: 100%; height:50px;background-color: black;">
            <button onclick="location.href='/'" type="button">Home</button>
            <button onclick="location.href='/cast'" type="button">Cast</button>
            <button onclick="location.href='/description'" type="button">Description</button>
        </div>
        <h1 >The Lord of the Rings: The Return of the King</h1>
        <h2>Cast:</h2>

        <ul><li>Elijah Wood as Frodo Baggins: A young hobbit who continues his quest to destroy the Ring, which continues to torture him.</li>
    <li>Ian McKellen as Gandalf the White: An Istari wizard who travels to aid the Men of Gondor, acting as a general at the Siege of Gondor.</li>
<li>Viggo Mortensen as Aragorn: A Dúnedain ranger who must finally face his destiny as King of Gondor.</li>
<li>Sean Astin as Samwise Gamgee: Better known as Sam, Frodo's loyal hobbit gardener and companion.</li>
<li>Andy Serkis as Sméagol / Gollum: A wretched and treacherous creature who was once one of the river-folk (an extinct race of hobbits) and now guides Frodo and Sam into Mordor. The first scene in the film portrays him in his former life as Sméagol, his murder of his cousin Déagol for possession of the Ring, as well as his degeneration into Gollum.</li>
<li>Billy Boyd as Peregrin Took: Better known as Pippin, a hobbit who looks into the <i>palantír</i> and later becomes an esquire of Gondor.</li>
<li>Dominic Monaghan as Meriadoc Brandybuck: Better known as Merry, a cousin of Frodo's who becomes an esquire of Rohan. </li>
<li>John Rhys-Davies as Gimli: A dwarf warrior and companion to Aragorn along with Legolas.
<ul><li>Rhys-Davies also voices Treebeard: the ent leader.</li></ul></li>
<li>Orlando Bloom as Legolas: An elven prince of Mirkwood and skilled archer who aids Aragorn in his quest to reclaim the throne.</li>
<li>Bernard Hill as Théoden: The King of Rohan who, after triumphing at Battle of the Pelennor Fields.</li>
<li>Miranda Otto as Éowyn: Théoden's niece, who wishes to prove herself in battle and starts to fall in love with Aragorn, who does not return her love. In the extended cut of the film, she finds love with Faramir when they are both residing in the Houses of Healing.</li>
<li>David Wenham as Faramir: A son of the Stewards of Gondor and head of the Gondorian Rangers defending Osgiliath, who seeks his father's love in vain.</li>
<li>Karl Urban as Éomer: Éowyn's brother, who serves as Chief Marshal of the Riders of Rohan and heir to his uncle's throne.</li>
<li>Hugo Weaving as Elrond: The Lord of Rivendell who must convince Aragorn to take up the throne.</li>
<li>Liv Tyler as Arwen: Elrond's daughter and Aragorn's true love, who gives up her immortal life for Aragorn.</li>
<li>Cate Blanchett as Galadriel: The Elven-Queen of Lothlórien who is aware the time of the elves is at an end.</li>
<li>John Noble as Denethor: The corrupt Steward of Gondor and father of Boromir and Faramir, whose grief over Boromir's death and despair over Mordor's superior numbers drive him into madness during the Siege of Gondor.</li>
<li>Ian Holm as Bilbo Baggins: Frodo's elderly uncle, who has rapidly aged after giving away the Ring.</li>
<li>Sean Bean as Boromir: Faramir's older brother and a fallen companion of Aragorn, who appears in a flashback of his death at the end of <i>The Lord of the Rings: The Fellowship of the Ring</i> and in the extended cut when his father has a hallucination.</li>
<li>Marton Csokas as Celeborn the Wise: The Elven-King of Lothlórien.</li>
<li>Lawrence Makoare as the Witch-king of Angmar: The lord of the Nazgûl, who leads Mordor's assault on Minas Tirith.
<ul><li>Makoare also plays Gothmog: An Orc commander, who is voiced by Craig Parker.</li></ul></li>
<li>Thomas Robins as Déagol: Sméagol's cousin, who is killed by Sméagol, when the former finds the One Ring in the river they are fishing in.</li></ul>

<div style="height: 300px; width: 100%; background-color: black;text-align: center;">
    <div style="display: inline-block">
    <img src="static/images/image_frodo.jpeg">
</div>
<div style="display: inline-block">
    <img src="static/images/image.jpeg">
</div>
<div style="display: inline-block">
    <img src="static/images/2_Sean-Astin-Split-H-2023.jpg">
</div>
<div style="display: inline-block">
    <img src="static/images/rs_1024x759-220831094310-1024-4lord-of-the-rings-then-and-now.jpg">
</div>
</div>

</body>
