<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Interstellar-Cast</title>
    </head>
    <style>
        img {
            height: 300px;
            object-fit: cover;
        }
        button {
            display: inline-block;
            width:auto;
            text-align: center;
            color: white;
            background-color: steelblue;
            height:50px;
            border: none;
        }
        button:hover {
            color: dimgray;
            background-color: lightblue;
        }
    </style>
    <body>
        <div style="top:0; right:0; width: 100%; height:50px;background-color: steelblue;">
            <button onclick="location.href='/'" type="button">Home</button>
            <button onclick="location.href='/cast'" type="button">Cast</button>
            <button onclick="location.href='/reviews'" type="button">Reviews</button>
            

        </div>
        <div style="color: dimgray; text-align: center";>
        <h1 >Interstellar cast</h1>
        </div>
        <div style="height: 300px; width: 100%; background-color: lightblue;text-align: center;">
    <div style="display: inline-block">
    <img src="static/images/Mat_McCon.jpeg">
</div>
<div style="display: inline-block">
    <img src="static/images/Ann_Hath.jpeg">
</div>
<div style="display: inline-block">
    <img src="static/images/Mac_Foy.jpeg">
</div>
<div style="display: inline-block">
    <img src="static/images/Timo_Chal.jpeg">
</div>
<div style="display: inline-block">
    <img src="static/images/Jess_Chas.jpeg">
</div>
<div style="display: inline-block">
    <img src="static/images/Mat_Dam.jpeg">
</div>
</div>

        <h2>Cast:</h2>

        <ul><li>Matthew McConaughey - Cooper</li>
    <li>Anne Hathaway - Brand</li>
<li>Jessica Chastain - Adult Murph</li>
<li>Mackenzie Foy - Murph</li>
<li> Ellen Burstyn - Old Murph</li>
<li>Matt Damon - Mann </li>
<li>Timothee Chalamet - Tom </li>
<li>Casey Affleck - Adult Tom </li>
<li>Michael Caine - Professor Brand </li>
<li>John Lithgow - Donald </li>
<li>Wes Bentley - Doyle </li>
<li>David Gyasi - Romily </li>
<li>Topher Grace - Getty </li>
<li>Colette Wolfe - Ms. Hanley </li>
<li>Bill Irwin - TARS </li>
<li>Josh Stewart - CASE </li></ul>




</body>
