<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Terminator 2: Judgment Day - Cast</title>
    </head>
    <style>
        img {
            height: 300px;
            object-fit: cover;
        }
        
        button {
            display: inline-block;
            width:auto;
            text-align: center;
            color: black;
            background-color: white;
            height:50px;
            border: none;
        }
        button:hover {
            color: white;
            background-color: black;
        }
    </style>
    <body style="background-color:black;">
        <div style="top:0; right:0; width: 100%; height:50px;background-color: white;text-align: center;">
            <button onclick="location.href='/'" type="button">Home</button>
            <button onclick="location.href='/cast'" type="button">Cast</button>
            <button onclick="location.href='/reviews'" type="button">Reviews</button>
            

        </div>
        <div style="color: white; text-align: center";>
        <h1 >Terminator 2: Judgment Day cast</h1>
        </div>
        <div style="height: 300px; width: 100%; background-color: white;text-align: center;">
    <div style="display: inline-block">
    <img src="static/images/Arnold_Schwarzenegger.jpeg">
</div>
<div style="display: inline-block">
    <img src="static/images/Linda_Hamilton.jpg">
</div>
<div style="display: inline-block">
    <img src="static/images/Edward_Furlong.jpeg">
</div>
<div style="display: inline-block">
    <img src="static/images/Robert_Patrick.jpeg">
</div>

</div>

<h2 style="color: white; text-align: center";>Cast:</h2>

<ul style="color: white; text-align: center";>
<li>Arnold Schwarzenegger - The Terminator(T-800)</li>
<li>Linda Hamilton - Sarah Connor</li>
<li>Edward Furlong - John Connor</li>
<li>Robert Patrick - T-1000</li>
<li>Joe Morton - Miles Bennett</li>
<li>Dean Norris - SWAT Leader</li>
<li>Danny Cooksey - Tim </li>
<li>Earl Boen - Doctor Peter Silberman </li>
<li>Jenette Goldstein - Janelle Voight </li>
<li>Leslie Hamiltion Gearren - Twin Sarah </li>
<li>Xander Berkeley - Todd Voight </li>
<li>Castulo Guerra - Enrique Salceda </li>
<li>S. Epatha Merkerson - Tarissa Dyson </li>
</ul>




</body>
