<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Maze Runner Description</title>
    
</head>
<body>

<div class="container" id="description">
    <h1>Maze Runner - Description</h1>
    <div class = "div-poster" style="flex-direction: column;">
    <p>
        The Maze Runner is a 2014 American dystopian science fiction film directed by Wes Ball, in his feature directorial debut, based on James Dashner's 2009 novel of the same name. 
    </p>
    <p>
        In "The Maze Runner," a teenage boy named Thomas awakens with no memory in a massive, mysterious glade enclosed by towering stone walls. He discovers that the only escape is through a dangerous, ever-changing maze patrolled by lethal creatures called Grievers. Joining forces with the other trapped boys, known as Gladers, Thomas strives to unlock the secrets of the maze. When a girl named Teresa arrives with alarming revelations, Thomas learns that they are part of an experiment conducted by the sinister organization WCKD. Facing deadly trials and shocking betrayals, Thomas and the Gladers must race against time to find a way out and uncover the truth behind their captivity.
    </p>
    
    
    </div></br>

    <!-- <p><strong>Descriere:</strong> Descrierea scurtă a filmului</p> -->
    <button onclick="location.href='{{url_for('maze_runner')}}'">Back</button>
</div>


</div>


</body>
</html>
