<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Interstellar-Reviews</title>
    </head>
    <style>
        img {
            max-height: 300px;
            object-fit: cover;
        }
        button {
            display: inline-block;
            width:auto;
            text-align: center;
            color: white;
            background-color: steelblue;
            height:50px;
            border: none;
        }
        button:hover {
            color: dimgray;
            background-color: lightblue;
        }
    </style>
    <body>
        <div style="top:0; right:0; width: 100%; height:50px;background-color: steelblue;">
            <button onclick="location.href='/'" type="button">Home</button>
            <button onclick="location.href='/cast'" type="button">Cast</button>
            <button onclick="location.href='/reviews'" type="button">Reviews</button>
        </div>
        
        <div style="color: dimgray; text-align: center;">
    	<h1> Interstellar Critics Reviews </h1>
    	</div>
    	
    	<div style="height: 300px; width: 100%; background-color: lightblue;text-align: center; color: dimgray">
    	
    		<h2>Staggeringly beautiful, bafflingly complex, this is proper event cinema. - Wendy Ide (Times-UK)</h2>
    		
    		<h2>This is not only a tremendously exciting space adventure... It's also a rich and thoughtful meditation on time and space and gravity. - David Stratton (At the Movies - Australia)</h2>
    		
    		<h2>Interstellar is as cinematically epic as it is dramatically intimate. - Lisa Kennedy (Denver Post)</h2>
    		
    		<h2> Having set out to be a journey into what can hardly be depicted at all,<br> Interstellar must find oblique ways of suggesting further imperceptible dimensions of the real. It is worth the journey to see what Nolan has constructed as a model of the unknowable. - Geoffrey O'Brien (Film Comment Magazine)</h2>
    		
    		
    		
    	</div>
            
            
            

        
    </body>
